header {
    position: fixed;
    z-index: 100;
    
    /* Propriedades de coordenadas */
    top: 0;
    left: 0;
    right: 0;
}

.menu { 
    list-style: none;
    background-color: darkblue;
    padding: 0;
    margin: 0;

    /* A propriedade overflow: hidden é necessária
    abaixo para anular o efeito colateral do float. "Hack CSS". */
    overflow: hidden;
}

.menu li { float: left; } 

.menu li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
}

/* Exercício 
Criar uma regra CSS que permita, ao passar o mouse em cima do link ou quando acionar o link via teclado, mudar a aparência conforme abaixo:

-cor do texto: azul escuro
-cor do fundo: branco */
.menu li a:hover, .menu li a:focus {
    color: darkblue;
    background-color: white;
}

/* Versão 1: provisória */
/* @media screen and (max-width: 760px) {
    .menu li { float: none; }
    .menu li a { text-align: center; }
} */

/* Versão 2: definitiva */
/* O ícone do menu não seja exibido no início */
.menu li.icone { display: none; }
@media screen and (max-width: 760px){
    /* Itens do menu não serão exibidos */
  .menu li { display: none; }
  /* Ícone do menu volta a ser exibido e à direita */
  .menu li.icone {
    display: block;
    float: right;
  }
  /* Contexto de posicionamento para o menu QUANDO
  em modo responsivo. */
  .menu.responsivo { position: relative; }
  /* Posicionando o ícone de acordo
  com as coordenadas */
  .menu.responsivo li.icone {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Os itens/links do menu são exibidos
  em linha, e o float é desativado */
  .menu.responsivo li {
    float: none;
    display: inline;
  }
}



